html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,address,big,cite,code,del,dfn,em,font,img,ins,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,ul,li,fieldset,form,input,select,textarea,label,button,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:none 0}
body{background-color:#fff;font-family:'Noto Sans KR', sans-serif;font-weight:400;font-size:14px;line-height:1.285;color:#242424;letter-spacing:-0.04em;}
form legend,table caption{width:0;height:0;font-size:0;text-indent:-9999px;line-height:0}
address,caption,cite,code,dfn,em,var{font-style:normal;font-weight:normal}
ul,li,ol{list-style-type:none}
li,p,dt,dd,div,span{white-space:normal}
table,div{border-collapse:collapse;border-spacing:0}
table{width:100%;table-layout:fixed;}
input,select,option,textarea,button {-webkit-appearance:none;-moz-appearance:none;appearance:none;outline:none;box-shadow:none;font-family:'Noto Sans KR','Malgun Gothic',Dotum,sans-serif;font-weight:400;font-size:14px;line-height:1.285;letter-spacing:-0.04em;color:#242424;}
label{display:inline-block;vertical-align:top;cursor:pointer}
button,input[type=checkbox],input[type=radio]{background:transparent;cursor:pointer}
button::-moz-focus-inner, button:focus, button:active {border:0;padding:0;outline:none;}
select::-ms-expand,input[type=checkbox]::-ms-check,input[type=radio]::-ms-check {display:none;}
h1,h2,h3,h4,h5,h6{font-weight:400}
a{text-decoration:none;color:#242424}
img {max-width:100%;}
body{-webkit-text-size-adjust:none;}
*{box-sizing: border-box;}