.fw500 {font-weight:500 !important;}
.fcpoint {color:#e8340c !important;}
.fcpoint2 {color:#ff7556 !important;}
.fcpoint3 {color:#c5a86f !important;}
.fcpoint4 {color:#726562 !important;}
.fcdefault {color:#242424 !important;}
.fcblack {color:#000 !important;}
.fcred {color:#ec060f !important;}
.fcwhite {color:#fff !important;}
.fcgray66 {color:#666 !important;}
.fcgray8f{color:#8f8f8f !important;}
.underline {text-decoration:underline;text-underline-position:under;}
.under {display:inline-block;border-bottom:solid 1px #333}
.fcpoint.under {border-color:#e8340c}
.italic {font-style:italic;}
.blind{position:absolute;top:-9999px;overflow:hidden;width:0;height:0;padding:0;line-height:0}

.number {font-family:'Roboto'; font-weight: 400;}
strong.number {font-weight:700;}

/* 검색영역 */
.search_form {position:relative;width:100%;height:40px;padding:10px 40px 10px 16px;background:#F4F7F9;border-radius:40px;}
.search_form .input_search {width:100%;height:20px;padding:0;background:transparent;border:none 0;line-height:18px;}
.search_form .btn_search {position:absolute;right:0;top:0;width:40px;height:40px;text-indent:-999em;background:url(../imgs/test/icon_search.png) center center no-repeat;background-size:24px 24px;}

/* form */
::placeholder {color: #B0B0B0;}
:disabled {opacity:1;-webkit-text-fill-color:inherit;background-color:#EDF0F2 !important;color:#8F8F8F !important;}
input,
textarea,
select {width:100%;height:36px;padding:0 15px;background-color:#fff;border:1px solid #B0B0B0;border-radius:4px;}

/* input */
input:read-only,
input:disabled + label {color:#8F8F8F;}

/* checkbox */
input[type=checkbox] {width:24px;height:24px;padding:0;background-image:url(../imgs/test/input_checkbox.png);background-position:center top;background-size:22px auto;background-repeat:no-repeat;}
input[type=checkbox] + label {line-height:24px;margin-left:8px;}
input[type=checkbox] + label + input[type=checkbox] {margin-left:12px;}
input[type=checkbox]:checked {background-color: #E8340C;background-image:url(../imgs/test/input_checkbox.png);background-position:center bottom;border-color:#E8340C}

/* radio */
input[type=radio] {position:relative;width:20px;height:20px;padding:0;border-radius:50%;background-color:#fff !important;}
input[type=radio]::after {content:'';position:absolute;left:50%;top:50%;width:12px;height:12px;border-radius:50%;transform:translate(-50%, -50%);}
input[type=radio] + label {line-height:20px;margin-left:8px;}
input[type=radio] + label + input[type=radio] {margin-left:12px;}
input[type=radio]:checked::after {background-color: #E8340C;}
input[type=radio]:disabled::after {background-color: #E3E3E3;}

/* textarea */
textarea {height:auto;padding:8px 15px;}

/* select */
select {padding-right:38px;background-image:url(../imgs/test/icon_arrow_down.png);background-position:right 7px center;background-size:24px auto;background-repeat:no-repeat;}
select:focus {background-image:url(../imgs/test/icon_arrow_up.png);}
select:disabled {}

/* 수량 */
.ea_box {display:flex;width:110px;border:1px solid #B0B0B0;border-radius:4px;overflow:hidden;}
.ea_box .txt {width:calc(100% - 60px);height:30px;border-top-width:0;border-bottom-width:0;border-color:#B0B0B0;border-radius:0;text-align:center;font-size:13px;color:#000;}
.ea_box button {position:relative;width:30px;height:30px;text-indent:-999em;}
.ea_box button::after {content:'';position:absolute;left:50%;top:50%;transform:translate(-50%, -50%);width:24px;height:24px;background-position:center center;background-size:contain;background-repeat:no-repeat;}
.ea_box button:disabled {background-color:#EDF0F2;}
.ea_box .eaminus::after {background-image:url(../imgs/test/icon_minus.png);}
.ea_box .eaplus::after {background-image:url(../imgs/test/icon_plus.png);}
.ea_box .eaminus:disabled::after {background-image:url(../imgs/test/icon_minus2.png);}
.ea_box .eaplus:disabled::after {background-image:url(../imgs/test/icon_plus2.png);}

/* table */
.commom_tbl {border:1px solid #DEE0E4;}
.commom_tbl th,
.commom_tbl td {padding:3px 7px;border-left:1px solid #DEE0E4;font-weight:400;font-size:12px;line-height:16px;text-align:left;vertical-align:top;}
.commom_tbl th {background-color:#EDF0F2;}
.commom_tbl td {font-weight:300;color:#8f8f8f;}
.commom_tbl tbody tr {border-top:1px solid #DEE0E4;}
.commom_tbl thead tr :first-child,
.commom_tbl tbody tr :first-child {border-left-width:0;}

/* tab */
.category_tab {border:1px solid #DEE0E4;border-radius:4px;overflow:hidden;}
.category_tab .list {display:flex;flex-wrap:wrap;}
.category_tab .list li {position:relative;width:calc(100% / 3);border-bottom:1px solid #DEE0E4;}
.category_tab .list li::before {content:'';position:absolute;right:-1px;top:0;z-index:1;width:1px;height:100%;background-color:#DEE0E4;}
.category_tab .list .btn {display:block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;padding:10px 4px;text-align:center;line-height:18px;color:#666;}
.category_tab .list .active {background-color:#E8340C;}
.category_tab .list .active .btn {color:#fff;font-weight:500;}
.category_tab .control {padding:10px 0;background-color:#f4f7f9;border-top:1px solid #DEE0E4;font-size:13px;color:#797D8D;text-align:center;margin-top:-1px;}
.category_tab .control .text::after {content:'';display:inline-block;vertical-align:top;width:12px;height:12px;background:url(../imgs/test/arrow_category.png) center center no-repeat;background-size:contain;margin-left:4px;transform:rotate(180deg);transition:0.2s;margin-top:2px;}
.category_tab.init .list {height:39px;overflow:hidden;}
.category_tab.init .control .text::after {transform:rotate(0);}
.category_tab.minimum .list li {border-bottom-width:0;}
.category_tab.minimum .control {display:none;}

.menu_tab .list {display:flex;flex-wrap:nowrap;background-color:#fff;border-bottom:2px solid #e8340c;}
.menu_tab .list li {width:100%;text-align:center;}
.menu_tab .list .btn {display:block;padding:12px 0;line-height:16px;color:#8f8f8f;}
.menu_tab .list .active {background-color:#e8340c;}
.menu_tab .list .active .btn {color:#fff;}
.contents_tab .content {display:none;}
.contents_tab .content.active {display:block;}

/* label */
.iconlabel_box {display:flex; flex-wrap: wrap; gap:4px;}
.iconlabel_box .label {padding:0 8px;background:#FF7556;border-radius:4px 0;font-size:13px;line-height:24px;font-weight:700;color:#fff;}
.iconlabel_box .label i {display:inline-block;vertical-align:top;width:12px;height:100%;background-position:center center;background-size:12px auto;background-repeat:no-repeat;margin-right:4px;}
.iconlabel_box .label.sale {background-color:#FF7556;}
.iconlabel_box .label.time {background-color:#c5a86f;}
.iconlabel_box .label.time i {background-image:url(../imgs/test/icon_time.png);}
.iconlabel_box .label.regular {background-color:#b5b6b6;}
.iconlabel_box .label.bundle {background-color:#726562;}
.iconlabel_box .label.time i {background-image:url(../imgs/test/icon_time.png);}
.iconlabel_box.etc .label {padding:0 4px;border-radius:0;font-size:11px;line-height:16px;}
.label_count {display:inline-block;vertical-align:top;min-width:22px;height:14px;padding:0 4px;background-color:#E8340C;border-radius:7px;text-indent:0;text-align:center;font-size:12px;line-height:14px;color:#fff;font-family:'Roboto'; font-weight: 400;}
.label_count.etc {background-color:#242424;}
.label_stock {display:inline-flex; align-items:center; justify-content:center; height:22px; gap:2px; padding:4px 8px; background:rgba(255, 255, 255, 0.7);border:solid 1px #e3e3e3; border-radius:10px;font-size:11px;line-height:12px;}
.label_stock dt {position:relative;color:#8f8f8f;padding-left:14px;}
.label_stock dt::before {content:'';position:absolute;left:0;top:0;width:12px;height:12px;background:url(../imgs/test/icon_stock.png) center center no-repeat;background-size:contain;}
.label_stock dd strong {font-weight:500;}

/* button */
.button_box {display:flex; flex-wrap:nowrap; gap:8px;}
.button_box .btn {width:100%;padding:14px 0;background-color:#f4f7f9 ;border:1px solid #DEE0E4;border-radius:4px;font-weight:500;line-height:1em;text-align:center;}
.button_box .btn.small {padding:8px 8px 9px;font-size:13px;}
.button_box .white {background-color:#fff;}
.button_box .fill {background-color:#E8340C;border-color:#E8340C;font-weight:700;color:#fff;}
.button_box .point {background-color:#fff;border-color:#E8340C;color:#E8340C}
.button_box .etc {padding:12px 0 13px;font-size:13px;color:#5B5E6A;}
.button_box .arrow {display:inline-block;vertical-align:top;width:12px;height:12px;background-image:url(../imgs/test/icon_arrow_right1.png);background-position:center 1px;background-repeat:no-repeat;background-size:contain;margin-left:4px;}
.button_box .point .arrow {background-image:url(../imgs/test/icon_arrow_right2.png);}
.button_box .text {font-size:12px;line-height:1em;}
.button_box .text .arrow {background-position:center 0.5px;margin-left:0;}
.button_box.single {flex-wrap:wrap;gap:4px;}
.button_box.single .btn {width:auto;}
.button_box.single .btn.w120 {width:120px;}


/* 상품 */
.common_product .grid {display:flex; flex-wrap: wrap; gap:8px;}
.common_product .grid .item {width:calc(50% - 4px);background:#fff;}
.common_product .thumb_box {position:relative; border-radius:4px;overflow:hidden;}
.common_product .thumb_box .thumb {position:relative;padding-top:calc(100% - 2px);border-radius:4px;border:solid 1px #EDF0F2;overflow:hidden;}
.common_product .thumb_box .thumb img {display:block;position:absolute; left:0;top:0;width:100%;height:100%;object-fit:contain;}
.common_product .thumb_box .iconlabel_box {position:absolute; left:0; top:0;}
.common_product .thumb_box .stock {position:absolute; left:8px; bottom:8px;}
.common_product .thumb_box .btn_box {position:absolute; right:8px; bottom:8px;}
.common_product .thumb_box .btn_cartin {position:relative;display:block;width:32px;height:32px;background:rgba(0, 0, 0, 0.4);border-radius:4px;text-indent:-999em;}
.common_product .thumb_box .btn_cartin::after {content:'';position:absolute;left:4px;top:4px;width:24px;height:24px;background:url(../imgs/test/icon_cart2.png) center center no-repeat;background-size:contain;}
.common_product .info_box {padding:8px;}
.common_product .info_box .info {min-height:55px}
.common_product .info_box .name {display:block;font-size:14px;color:#242424;line-height:18px;overflow:hidden;text-overflow:ellipsis;word-wrap:break-word;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;}
.common_product .info_box .summary {display:flex;flex-wrap:wrap;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;font-size:12px;line-height:16px;color:#888;margin-top:3px;}
.common_product .info_box .summary .box {position:relative;padding:0 4px;margin-left:1px;}
.common_product .info_box .summary .box::before {content:'';position:absolute;left:-1px;top:50%;width:1px;height:8px;background-color:#e3e3e3;transform:translateY(-50%);}
.common_product .info_box .summary .box:first-child {padding-left:0;margin-left:0;}
.common_product .info_box .summary .box:first-child::before {display:none;}
.common_product .info_box .summary.row {flex-direction:column;}
.common_product .info_box .summary.row .box {word-break: break-all;padding:0;margin-left:0;}
.common_product .info_box .summary.row .box::before {display:none;}
.common_product .info_box .price {margin-top:6px;}
.common_product .info_box .price dl {display:flex; align-items:center;}
.common_product .info_box .price dt {width:56px; height:16px; background:#5B5E6A; text-align:center; font-size:11px; line-height:16px; color:#fff;}
.common_product .info_box .price dd {font-size:12px; color:#242424; margin-left:auto; line-height:16px;}
.common_product .info_box .price dd strong {font-weight: 500;}
.common_product .info_box .price .sale {margin-top:2px;}
.common_product .info_box .price .sale dt {background:#FF7556;}
.common_product .info_box .price .sale dd {color:#E8340C;}
.common_product .info_box .price .sale dd strong {font-size:17px;}
.common_product .info_box .check {display:flex;align-items:center;margin-top:9px;}
.common_product .info_box .check .ea_box_wrap {margin-left:auto;}
.common_product .soldout .thumb_box::before {content:'';position:absolute;top:0;left:0;z-index:1;width:100%;height:100%;background-color:rgba(0, 0, 0, 0.5)}
.common_product .soldout .thumb_box::after {content:'일시품절';position:absolute;top:50%;left:50%;z-index:2;width:100%;font-size:17px;font-weight:500;color:#fff;transform:translate(-50%, -50%);text-align:center;}
.common_product .soldout .thumb_box .iconlabel_box,
.common_product .soldout .thumb_box .stock,
.common_product .soldout .thumb_box .btn_box {display:none;}

.common_product .list {display:flex; flex-wrap: wrap;flex-direction:column;gap:8px;}
.common_product .list .item {display:flex;align-items:center;background:#fff;}
.common_product .list .thumb_box {width:120px;height:120px;}
.common_product .list .thumb_box .thumb {border-color:#DEE0E4;}
.common_product .list .info_box {width:calc(100% - 120px);padding:0 12px;}
.common_product .list .info_box .info {min-height:auto;}
.common_product .list .info_box .price {margin-top:12px;}
.common_product .list .thumb_box .iconlabel_box,
.common_product .list .stock,
.common_product .list .btn_box,
.common_product .list .info_box .check {display:none;}
@media (max-width: 320px) {
    .common_product .list .thumb_box {width:80px;height:80px;}
    .common_product .list .info_box {width:calc(100% - 80px);}
}

/* floating btn */
.floating_btn {position:fixed;bottom:-1px;left:0;z-index:2;width:100%;padding:16px 16px 24px;background:#fff;border:1px solid #EDF0F2;box-shadow: 0px -4px 20px rgba(0, 0, 0, 0.1);border-radius: 24px 24px 0px 0px;}
.floating_btn .price strong {letter-spacing:0;}
.floating_btn .info_text {display:flex;flex-wrap:wrap;font-size:13px;line-height:15px;color:#8f8f8f;}
.floating_btn .info_text > div + div {position:relative;margin-left:13px;}
.floating_btn .info_text > div + div::before {content:'';position:absolute;left:-7px;top:2px;width:1px;height:12px;background-color:#e3e3e3;}
.floating_btn .info_text.pay {margin-bottom:-10px;}
.floating_btn .calculation_list {display:none;padding-top:8px;border-bottom:1px solid #edf0f2;}
.floating_btn .calculation_list dl {display:flex;flex-wrap:wrap;align-items:center;padding:9px 0;}
.floating_btn .calculation_list dd {display:flex;font-size:12px;line-height:22px;margin-left:auto;}
.floating_btn .calculation_list dd strong {font-size:15px;}
.floating_btn .calculation_list dd i {width:22px;height:22px;background:url(../imgs/test/icon_minus2.png) center center no-repeat;background-size:20px 20px;border:1px solid #e3e3e3;border-radius:50%;margin-right:2px;}
.floating_btn .total_price {display:flex;flex-wrap:wrap;align-items:center;padding:12px 0;}
.floating_btn .total_price .price {font-size:12px;line-height:26px;margin-left:auto;}
.floating_btn .total_price .price strong {font-size:22px;}
.floating_btn .more {position:absolute;top:0;left:0;width:100%;height:24px;background:url(../imgs/test/arrow_floating.png) center center no-repeat;background-size:24px 24px;transition:0.2s;text-align:center;text-indent:-999em;}
.floating_btn.active .calculation_list {display:block;}
.floating_btn.active .more {transform:rotate(180deg);}

#header {position:sticky;left:0;top:0;z-index:5;width:100%;height:56px;padding:8px 16px;background:#fff;}
#header h1 {position:absolute;left:16px;top:50%;width:48px;height:16px;transform:translateY(-50%);}
#header h1 a {display:block;}
#header h1 img {display:block;width:100%;}
#header .search_form {width:calc(100% - 134px);margin:0 80px 0 56px;}
#header .top_btn {display:inline-flex;position:absolute;right:16px;top:50%;width:72px;height:24px;transform:translateY(-50%);}
#header .top_btn .btn {position:relative;width:24px;height:24px;text-indent:-999em;background-position:center center;background-size:contain;background-repeat:no-repeat;}
#header .top_btn .btn_cart {background-image:url(../imgs/test/icon_cart.png);}
#header .top_btn .btn_category {background-image:url(../imgs/test/icon_menu.png);margin-left:auto;}
#header .top_btn .btn .label_count {position:absolute;left:16px;top:0;}

#gnb {position:relative;width:100%;height:40px;background:#fff;}
#gnb::after {content:'';position:absolute;left:0;bottom:0;width:100%;height:1px;background:#EDF0F2;}
#gnb ul {display:flex;flex-wrap:nowrap;overflow-x:auto;align-items:center;height:40px;padding:0 8px;}
#gnb ul::-webkit-scrollbar { display: none;}
#gnb ul li {position:relative;padding:12px 8px;}
#gnb ul li::before {content:'';position:absolute;left:0;bottom:0;width:100%;height:1px;background:#EDF0F2;}
#gnb ul li a {display:block;white-space:nowrap;font-size:15px;line-height:16px;color:#8F8F8F;}
#gnb .label_count {margin:1px 0 0 1px}
#gnb ul .active a {color:#E8340C;font-weight:500;}
#gnb ul .active::after {content:'';position:absolute;bottom:0;left:50%;width:28px;height:4px;background-color:#E8340C;border-radius: 4px 4px 0px 0px;transform:translateX(-50%);}

#container {min-height:60vh;}

#toolbar {position:fixed;left:0;bottom:-80px;opacity:0;z-index:5;width:100%;padding:8px 0 24px;background-color:#fff;border-top:solid 1px #EDF0F2;transition:all 0.1s;}
#toolbar ul {display:flex;}
#toolbar ul li {flex:1;}
#toolbar ul li a {position:relative;display:block;padding-top:24px;font-size:11px;line-height:16px;color:#5B5E6A;text-align:center;}
#toolbar ul li a::before {content:'';position:absolute;left:0;top:0;width:100%;height:24px;background-position:center top;background-size:24px auto;background-repeat:no-repeat;}
#toolbar ul li.active a {color:#E8340C;font-weight:500;}
#toolbar ul li.active a::before {background-position:center bottom;}
#toolbar ul li.home a::before {background-image:url(../imgs/test/toolbar_home.png);}
#toolbar ul li.repurchase a::before {background-image:url(../imgs/test/toolbar_repurchase.png);}
#toolbar ul li.ledger a::before {background-image:url(../imgs/test/toolbar_ledger.png);}
#toolbar ul li.mypage a::before {background-image:url(../imgs/test/toolbar_mypage.png);}
#toolbar ul li.allmenu a::before {background-image:url(../imgs/test/toolbar_menu.png);}

#floating {position:fixed;right:16px;bottom:16px;z-index:5;display:flex;flex-direction: column;gap:8px;transition:all 0.1s;}
#floating .top {display:none;}
#floating .btn {position:relative;display:block;width:44px; height:44px;border-radius:40px;text-indent:-999em;}
#floating .btn::after {content:'';position:absolute;left:50%;top:50%;width:24px;height:24px;background-position:center center;background-size:contain;background-repeat:no-repeat;transform:translate(-50%, -50%);}
#floating .btn_top {background-color:rgba(255, 255, 255, 0.7);border:solid 1px #e3e3e3;}
#floating .btn_top::after {background-image:url(../imgs/test/icon_top.png)}
#floating .btn_talk {background:linear-gradient(135deg, #FFC397 0%, #E8340C 89.06%)}
#floating .btn_talk::after {background-image:url(../imgs/test/icon_talk.png)}

.scroll #floating {bottom:80px;}
.scroll #floating .top {display:block;}
.scroll #toolbar {bottom:0;opacity:1;}

#footer {background:#535353;padding-bottom:72px;}
#footer .menu {display:flex;}
#footer .menu li {position:relative;text-align:center;}
#footer .menu li::before {content:'';position:absolute;left:-1px;top:50%;width:1px;height:12px;background-color:#e3e3e3;transform:translateY(-50%);}
#footer .menu li a {display:block;padding:0 9px 0 8px;font-size:12px;line-height:16px;color:#E3E3E3;}
#footer .footer_menu {background:#fff;border-top: 1px solid #EDF0F2;}
#footer .footer_menu .menu li {flex:1;}
#footer .footer_menu .menu li a {padding:8px 0;color:#8f8f8f;}
#footer .innerbox {padding:24px 16px;color:#fff;}
#footer .innerbox a {color:#fff;}
#footer .customer {position:relative;padding-bottom:20px;border-bottom:solid 1px #8F8F8F;margin-bottom:18px;}
#footer .customer .tel {font-size:20px;font-weight:500;}
#footer .customer dd {font-size:11px;line-height:11px;margin-top:4px;}
#footer .customer .btn_tel {position:absolute;right:0;top:0;background:rgba(143, 143, 143, 0.5);padding:8px 12px 8px 16px;border-radius:40px;font-size:13px;line-height:16px;}
#footer .customer .btn_tel i {display:inline-block;vertical-align:baseline;width:12px;height:12px;background:url(../imgs/test/icon_call.png) center center no-repeat;background-size:contain;margin-left:8px; }
#footer .info {font-size:11px;line-height:15px;color:#B0B0B0;}
#footer .info .menu {margin-bottom:14px;flex-wrap:wrap;}
#footer .info .menu li:first-child a {padding-left:0;}
#footer .info .menu li:first-child::before {display:none;}
#footer .info address {position:relative;padding-right:100px;}
#footer .info address a {color:#B0B0B0;}
#footer .info address .btn_biz {position:absolute;right:0;bottom:3px;width:100px;text-align:center;border:solid 1px #8f8f8f;font-size:12px;line-height:18px;}
#footer .info .copy {padding:6px 0;font-weight:300;margin-top:3px;}

.ismodal {overflow:hidden;width:100%;height:100%;touch-action:none;}
.ismodal::-webkit-scrollbar { display: none;}

#modal {display:none;opacity:0;pointer-events:none;}
#modal.open {display:block;opacity:1;pointer-events:auto;}
#modal::before {content:'';position:fixed;left:0;top:0;z-index:98;width:100%;height:100%;background:rgba(0, 0, 0, 0.6);}
#modal.modalFull .wrap {position:fixed;left:0;top:0;z-index:99;width:100%;height:100%;background-color:#fff;border-radius:24px 24px 0px 0px;overflow:hidden;transition: 0.2s;}
#modal.modalCenter .wrap {position:fixed;left:50%;top:50%;z-index:100;width:calc(100% - 32px);height:calc(100% - 112px);background-color:#fff;overflow:hidden;transform:translate(-50%, -50%);transition: 0.2s;}
#modal.modalCenter::before {z-index:99;}
.modalFull .head,
.modalCenter .head {position:sticky;left:0;top:0;display:flex;align-items:center;height:60px;padding:19px 16px 18px;background-color:#fff;border-bottom:1px solid #EDF0F2;}
.modalFull .head h2,
.modalCenter .head h2 {font-weight:500;font-size:16px;line-height:24px;}
.modalFull .head .close,
.modalCenter .head .close {margin-left:auto;width:24px;height:24px;text-indent:-999em;background:url(../imgs/test/icon_x.png) center center no-repeat;background-size:contain;}
.modalFull .contents,
.modalCenter .contents {max-height:calc(100% - 60px);overflow-y:auto;padding:16px;}
.modalFull .contents .title,
.modalCenter .contents .title {font-weight:500;padding:24px 0 8px;}
.modalFull .contents h3,
.modalCenter .contents h3 {font-size:16px;line-height:24px;}
.modalFull .contents h4,
.modalCenter .contents h4 {font-size:14px;line-height:15px;}
.modalFull .contents .wide,
.modalCenter .contents .wide {padding-left:16px;padding-right:16px;margin-left:-16px;margin-right:-16px;}

.modal_detail .common_product {margin-bottom:16px;}
.modal_detail .choice_info_box {padding-bottom:170px;background-color:#EDF0F2;margin-top:33px;}
.modal_detail .info_inner {padding:12px;background-color:#fff;border-radius:4px;font-size:13px;line-height:22px;}
.modal_detail .info_inner dl {display:flex;flex-wrap:wrap;align-items:flex-start;margin-top:2px;}
.modal_detail .info_inner dl:first-child {margin-top:0;}
.modal_detail .info_inner dt {width:55px;}
.modal_detail .info_inner dd {width:calc(100% - 55px);}
.modal_detail .info_inner dl li {position:relative;padding-left:8px;}
.modal_detail .info_inner dl li::before {content:'·';position:absolute;left:0;top:0;}
.modal_detail .delivery_info_box dt {width:80px;}
.modal_detail .delivery_info_box dd {width:calc(100% - 80px);}
.modal_detail .discount_info_box dl {flex-direction:column;}
.modal_detail .discount_info_box dt,
.modal_detail .discount_info_box dd {width:100%;}
.modal_detail .note {position:relative;padding-left:12px;font-size:12px;line-height:17px;color:#8f8f8f;margin-top:4px;}
.modal_detail .note::before {content:'';position:absolute;left:0;top:3px;width:10px;height:10px;background:url(../imgs/test/icon_note.png) center center no-repeat;background-size:contain;}
.modal_detail .noti {padding:12px 0 0;border-top:1px solid #edf0f2;margin-top:12px;}
.modal_detail .list_box {position:relative;overflow:hidden;overflow-y:auto;max-height:307px;border:1px solid #DEE0E4;border-radius:4px;}
.modal_detail .list_box table {width:100%;table-layout:fixed;}
.modal_detail .list_box thead tr {position:sticky;left:0;top:0;z-index:1;}
.modal_detail .list_box thead th {height:30px;padding:0 11px;background-color:#E8340C;border-bottom:1px solid #DEE0E4;font-weight:500;font-size:13px;color:#fff;text-align:right;}
.modal_detail .list_box thead th:first-child {text-align:left;}
.modal_detail .list_box tbody tr:first-child td {border-top-width:0;}
.modal_detail .list_box tbody td {padding:0 11px;text-align:right;border-top:1px solid #EDF0F2;}
.modal_detail .list_box tbody td:first-child {text-align:left;}
.modal_detail .list_box .select {display:flex;flex-wrap:wrap;align-items:center;width:100%;}
.modal_detail .list_box .select label {width:calc(100% - 28px);padding:10px 0;line-height:16px;}
.modal_detail .list_box .select small {font-size:12px;color:#8f8f8f;}
.modal_detail .list_box .choice td {background-color:#EDF0F2;}
.modal_detail .list_box .choice,
.modal_detail .list_box .choice .select small {color:#e8340c;}

.modal_detail_info .contents {max-height:calc(100% - 102px);padding:0;}
.modal_detail_info .contents_tab .content {padding:16px;}
.modal_detail_info .contents h3 {font-size:14px;}
.modal_detail_info .detail_info_img {margin:16px -16px 0;padding:0;border-top:1px solid #EDF0F2}
.modal_detail_info .zoom_image {margin-top:8px;}
.modal_detail_info .zoom_image dd {margin-top:16px;}
